<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book</h1>

    <a href="/createb">Create Book</a><br>

    {% for book in books %}
        <h3>{{ book.title }}</h3>

        <p>Author: {{ book.author }}</p>
        <p>Pagez: {{ book.pages }}</p>
        <p>Price: {{ book.price }}</p>

        <a href="{% url 'book_detail' book.id %}">Detail</a>
        <a href="{% url 'book_update' book.id %}">Update</a>

        <form action="{ book.id }}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>

        <hr>
    {% endfor %}

    <a href="/">Main</a>


</body>
</html>

